<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


<style>
    .drop {
        MARGIN-TOP: 8%;
        margin-left: 40%;
    }
    .btnn {
        margin-left: -46%;
        width: 130%;
        
    }
</style>
<div class="dropdown drop">
    <button type="button" class="btn btn-secondary dropdown-toggle btnn" data-toggle="dropdown">
            Select
    </button>
    <div class="dropdown-menu ">
        <a class="dropdown-item " href="#">LIST ITEM 1</a> <br />
        <a class="dropdown-item " href="#">LIST ITEM 2</a><br />
        <a class="dropdown-item " href="#">LIST ITEM 3</a><br/>
        <a class="dropdown-item " href="#">KANYE WEST </a>
    </div>
</div>
<div class="dropdown drop">
    <button type="button" class="btn btn-secondary dropdown-toggle btnn" data-toggle="dropdown" style="margin-top: -10%;">
        Select
    </button>
    <div class="dropdown-menu ">
        <a class="dropdown-item " href="#">LIST ITEM 1</a> <br />
        <a class="dropdown-item " href="#">LIST ITEM 2</a><br />
        <a class="dropdown-item " href="#">LIST ITEM 3</a><br />
        <a class="dropdown-item " href="#">KANYE WEST </a>
    </div>
</div>
