
<div class="input-group-lg form-control" style="  border-radius:0%;  margin-top: 8%;
    margin-left: 3%;   width: 94%;">
    <form>
        <input type="text" class="form-control">
    </form>
</div>


<div class="input-group-lg form-control form-group" style="  border-radius:0%;  margin-top:4%;
    margin-left: 3%;   width: 94%;">
   
        <input type="text" class="form-control " placeholder="Example input">
    
</div>

<div class="input-group-lg form-control" style="  border-radius:0%;  margin-top:4%;
    margin-left: 3%;   width: 94%;">
    <form>
        <input type="text" class="form-control" >
    </form>
</div>
<div style="MARGIN-TOP: 28%;">
    <div class="input-group-lg form-control" style="  border-radius:0%;  margin-top:4%;
    margin-left: 3%;   width: 94%;">
        <form>
            <input type="text" class="form-control">
        </form>
    </div>
    <div class="input-group-lg form-control" style="  border-radius:0%;  margin-top:4%;
    margin-left: 3%;   width: 94%;">
        <form>
            <input type="text" class="form-control">
        </form>
    </div>
</div>

