
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    @*<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">*@
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery-plugin-progressbar Demos</title>
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="jQuery-plugin-progressbar.css">
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="jQuery-plugin-progressbar.js"></script>
    <script src="~/Scripts/jQuery-plugin-progressbar.js"></script>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>

    <link href="~/Scripts/jQuery-plugin-progressbar.css" rel="stylesheet" />
</head>
<body>
    <div id="jquery-script-menu">
        <div class="jquery-script-center">
            <ul>
                <li><a href="http://www.jqueryscript.net/loading/Dynamic-Circular-Progress-Bar-with-jQuery-CSS3.html">Download This Plugin</a></li>
                <li><a href="http://www.jqueryscript.net/">Back To jQueryScript.Net</a></li>
            </ul>
            <div class="jquery-script-ads">
                <script type="text/javascript">
<!--
                    google_ad_client = "ca-pub-2783044520727903";
                    /* jQuery_demo */
                    google_ad_slot = "2780937993";
                    google_ad_width = 728;
                    google_ad_height = 90;
                    //-->
                </script>
                <script type="text/javascript"
                        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>
            </div>
            <div class="jquery-script-clear"></div>
        </div>
    </div>
    <h1 style="margin:150px auto 50px auto;">jQuery-plugin-progressbar Demos</h1>
    <div class="progress-bar position"></div>
    <div class="progress-bar position" data-percent="60" data-duration="1000" data-color="#ccc,yellow"></div>
    <div class="progress-bar position" data-percent="20" data-color="#a456b1,#12b321"></div>
    <input type="submit" value="reload">
    <script>
        $(".progress-bar").loading();
        $('input').on('click', function () {
            $(".progress-bar").loading();
        });
    </script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>
</html>
<script>
    $(".progress-bar").loading()
</script>
<style>
    .progress-bar {
        position: relative;
        height: 100px;
        width: 100px;
    }


        .progress-bar div {
            position: absolute;
            height: 100px;
            width: 100px;
            border-radius: 50%;
        }

            .progress-bar div span {
                position: absolute;
                font-family: Arial;
                font-size: 25px;
                line-height: 75px;
                height: 75px;
                width: 75px;
                left: 12.5px;
                top: 12.5px;
                text-align: center;
                border-radius: 50%;
                background-color: white;
            }

        .progress-bar .background {
            background-color: #b3cef6;
        }

        .progress-bar .rotate {
            clip: rect(0 50px 100px 0);
            background-color: #4b86db;
        }

        .progress-bar .left {
            clip: rect(0 50px 100px 0);
            opacity: 1;
            background-color: #b3cef6;
        }



        .progress-bar .right {
            clip: rect(0 50px 100px 0);
            transform: rotate(180deg);
            opacity: 0;
            background-color: #4b86db;
        }

    // background color

    backgroundColor: '#b3cef6',
    04
    // progress bar color
    05
    progressColor: '#4b86db',
    06

    07
    // percentage data to present
    08
    // 75 = 75%
    09
    percent: 75,
    10

    11
    // animation speed
    12
    duration: 2000
</style>